.profile-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-card__title {
  font-size: 15px;
  margin-bottom: 10px;
}

.profile-card__content {
  margin-bottom: 20px;
}

.delete-profile-button {
  background-color: #ff4d4d;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-profile-button:hover {
  background-color: #ff6666;
  color: #ffffff;
}

/* edit_profil_form */
.edit-profile-form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  /* background-color: #f2f2f2; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-profile-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* background: white; */
}

.edit-profile-error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.edit-profile-save-button {
  color: rgb(7, 167, 42);
}

.edit-profile-cancel-button {
  background-color: #f44336;
  color: white;
}
.edit-profile-cancel-button:hover {
  background-color: #ff6666;
  color: #ffffff;
}

/* profil_display_info */
.profile-info-container {
  margin-bottom: 20px;
}

.profile-info-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info-row {
  display: flex;
  justify-content: center;
}

.profile-info-card {
  flex-basis: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.profile-info-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info-value {
  margin-bottom: 10px;
}

.profile-info-edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.profile-info-edit-button:hover {
  background-color: #45a049;
  color: #fff;
}

@media screen and (max-width: 870px) {
  .profile-info-row {
    flex-wrap: wrap;
  }

  .profile-info-card {
    margin-bottom: 15px;
    margin-right: 1rem;
  }
}
